In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as plt
import os

In [2]:
os.getcwd()

'/Users/emnichols/capstone'

## Median and Mean Income

In [3]:
cd income_ca

/Users/emnichols/capstone/income_ca

In [4]:
path = os.getcwd()
files = os.listdir(path)

In [5]:
files # confirm no unintended outputs

['ACSST5Y2013.S1903-Data.csv',
 'ACSST5Y2013.S1902-Data.csv',
 'ACSST5Y2014.S1902-Data.csv',
 'ACSST5Y2014.S1903-Data.csv',
 'ACSST5Y2015.S1902-Data.csv',
 'ACSST5Y2015.S1903-Data.csv',
 '.DS_Store',
 'ACSST5Y2012.S1903-Data.csv',
 'ACSST5Y2012.S1902-Data.csv',
 'ACSST5Y2018.S1902-Data.csv',
 'ACSST5Y2018.S1903-Data.csv',
 'ACSST5Y2017.S1903-Data.csv',
 'ACSST5Y2017.S1902-Data.csv',
 'ACSST5Y2016.S1903-Data.csv',
 'ACSST5Y2016.S1902-Data.csv',
 'ACSST5Y2019.S1902-Data.csv',
 'ACSST5Y2019.S1903-Data.csv',
 'ACSST5Y2011.S1902-Data.csv',
 'ACSST5Y2011.S1903-Data.csv',
 'ACSST5Y2021.S1902-Data.csv',
 'ACSST5Y2021.S1903-Data.csv',
 'ACSST5Y2020.S1902-Data.csv',
 'ACSST5Y2020.S1903-Data.csv']

In [6]:
df_income_mean = pd.DataFrame()
df_income_median = pd.DataFrame()

In [7]:
mean_columns_2011_2016 = ['Geographic Area Name', \
                          'Total!!Estimate!!All households', \
                          'Mean income (dollars)!!Estimate!!All households'
]

In [8]:
mean_columns_2017_2021 = ['Geographic Area Name', \
                          'Estimate!!Number!!HOUSEHOLD INCOME!!All households',\
                          'Estimate!!Mean income (dollars)!!HOUSEHOLD INCOME!!All households'
                          
]

In [9]:
mean_col_names = ['geographic_area_name','total_households','mean_income_per_household']

In [10]:
median_columns_2011_2016 = ['Geographic Area Name',\
                            'Total!!Estimate!!Households',\
                            'Median income (dollars)!!Estimate!!Households'
]

In [11]:
median_columns_2017_2021 = ['Geographic Area Name',\
                            'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',\
                            'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'
]

In [12]:
median_col_names = ['geographic_area_name','total_households','median_income_per_household']

In [13]:
for f in files:
    if f[-3:] == 'csv':
        if f[-10] == '2':
            year = int(f[7:11])
            if year in range(2011,2017):
                #print(f[-10])
                data = pd.read_csv(f, skiprows=1, header=0,usecols=mean_columns_2011_2016)
                data['year'] = year
                #print(f[7:11])
                df_income_mean = pd.concat([df_income_mean,data])
                
            if year in range(2017,2022):
                #print(f[-10])
                data = pd.read_csv(f, skiprows=1,usecols=mean_columns_2017_2021)
                data['year'] = year
                #print(f[7:11])
                df_income_mean = pd.concat([df_income_mean,data])
                
        if f[-10] == '3':
            year = int(f[7:11])
            if year in range(2011,2017):
                #print(f[-10])
                data = pd.read_csv(f, skiprows=1,usecols=median_columns_2011_2016)
                data['year'] = year
                #print(f[7:11])
                df_income_median = pd.concat([df_income_median,data])
            
            if year in range(2017,2022):
                #print(f[-10])
                data = pd.read_csv(f, skiprows=1,usecols=median_columns_2017_2021)
                data['year'] = year
                #print(f[7:11])
                df_income_median = pd.concat([df_income_median,data])

In [14]:
df_income_mean['zip_code'] = df_income_mean['Geographic Area Name'].replace('ZCTA5 ','',regex=True)
df_income_median['zip_code'] = df_income_median['Geographic Area Name'].replace('ZCTA5 ','',regex=True)

df_income_median.drop(columns=['Geographic Area Name'], inplace=True)
df_income_mean.drop(columns=['Geographic Area Name'], inplace=True)

In [15]:
# clean data
df_income_median = df_income_median.fillna(0)
df_income_mean = df_income_mean.fillna(0)

df_income_median = df_income_median.replace('-',0,regex=True)
df_income_mean = df_income_mean.replace('-',0,regex=True)

df_income_median = df_income_median.replace('250,000\+',250000,regex=True)
df_income_mean = df_income_mean.replace('250,000\+',250000,regex=True)

df_income_median = df_income_median.replace(',',0,regex=True)
df_income_mean = df_income_mean.replace(',',0,regex=True)

df_income_median = df_income_median.replace('\(X\)',0,regex=True)
df_income_mean = df_income_mean.replace('\(X\)',0,regex=True)

df_income_median = df_income_median.replace('N',0,regex=True)
df_income_mean = df_income_mean.replace('N',0,regex=True)

In [16]:
#typecasting
df_income_median = df_income_median.apply(pd.to_numeric)
df_income_mean = df_income_mean.apply(pd.to_numeric)

df_income_mean['year'] = df_income_mean.year.astype('str')
df_income_median['year'] = df_income_median.year.astype('str')

df_income_mean['zip_code'] = df_income_mean.zip_code.astype('str')
df_income_median['zip_code'] = df_income_median.zip_code.astype('str')

In [17]:
#set index
df_income_mean.set_index('zip_code',inplace=True)
df_income_median.set_index('zip_code',inplace=True)

In [18]:
df_income_mean.head()

,Total!!Estimate!!All households,Mean income (dollars)!!Estimate!!All households,year,Estimate!!Number!!HOUSEHOLD INCOME!!All households,Estimate!!Mean income (dollars)!!HOUSEHOLD INCOME!!All households
zip_code,,,,,
89010,149.0,39548,2013,0.0,0
89019,942.0,53833,2013,0.0,0
89060,4354.0,50303,2013,0.0,0
89061,1919.0,63258,2013,0.0,0
89439,729.0,134593,2013,0.0,0

In [19]:
#merge columns to remove missing values for different years

df_income_median['households_count'] = df_income_median[['Total!!Estimate!!Households',\
                                         'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'\
                                                        ]].max(axis=1)

df_income_median['median_income_per_household'] = df_income_median[['Median income (dollars)!!Estimate!!Households',\
                                         'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households'\
                                                                   ]].max(axis=1)

df_income_mean['households_count'] = df_income_mean[['Total!!Estimate!!All households',\
                                         'Estimate!!Number!!HOUSEHOLD INCOME!!All households'\
                                                    ]].max(axis=1)

df_income_mean['mean_income_per_household'] = df_income_mean[['Mean income (dollars)!!Estimate!!All households',\
                                         'Estimate!!Mean income (dollars)!!HOUSEHOLD INCOME!!All households'\
                                                               ]].max(axis=1)

In [20]:
df_income_median.head()

,Total!!Estimate!!Households,Median income (dollars)!!Estimate!!Households,year,Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households,Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households,households_count,median_income_per_household
zip_code,,,,,,,
89010,149.0,32679,2013,0.0,0,149.0,32679
89019,942.0,38269,2013,0.0,0,942.0,38269
89060,4354.0,38217,2013,0.0,0,4354.0,38217
89061,1919.0,51513,2013,0.0,0,1919.0,51513
89439,729.0,64145,2013,0.0,0,729.0,64145

In [21]:
df_income_mean.head()

,Total!!Estimate!!All households,Mean income (dollars)!!Estimate!!All households,year,Estimate!!Number!!HOUSEHOLD INCOME!!All households,Estimate!!Mean income (dollars)!!HOUSEHOLD INCOME!!All households,households_count,mean_income_per_household
zip_code,,,,,,,
89010,149.0,39548,2013,0.0,0,149.0,39548
89019,942.0,53833,2013,0.0,0,942.0,53833
89060,4354.0,50303,2013,0.0,0,4354.0,50303
89061,1919.0,63258,2013,0.0,0,1919.0,63258
89439,729.0,134593,2013,0.0,0,729.0,134593

In [22]:
# df_income_median = df_income_median.rename(columns={"Total!!Estimate!!Households": "households_count_", \
#                                "Median income (dollars)!!Estimate!!Households": "median_income_per_household_"}, \
#                                  inplace=False)

In [23]:
# df_income_mean = df_income_mean.rename(columns={"Estimate!!Number!!HOUSEHOLD INCOME!!All households": "households_count_", \
#                                "Estimate!!Mean income (dollars)!!HOUSEHOLD INCOME!!All households": "mean_income_per_household_"}, \
#                                  inplace=False)

In [24]:
df_income_mean.mean_income_per_household.value_counts()

0        1896
77444       8
61933       8
68346       8
89141       8
         ...
71254       2
79646       2
36623       2
46804       2
73435       2
Name: mean_income_per_household, Length: 17177, dtype: int64

In [25]:
df_income_median.median_income_per_household.value_counts()

0         2688
250000      52
43750       38
36250       34
38750       32
          ...
49971        2
37871        2
40164        2
105357       2
100205       2
Name: median_income_per_household, Length: 15375, dtype: int64

In [26]:
#remove intermediary columns
df_income_mean = df_income_mean.filter(['year', 'households_count', 'mean_income_per_household'])
df_income_median = df_income_median.filter(['year', 'households_count', 'median_income_per_household'])

# df_income_median.drop(columns=['households_count_',
#                                'median_income_per_household_',
#                                'Estimate!!Number!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
#                                'Estimate!!Median income (dollars)!!HOUSEHOLD INCOME BY RACE AND HISPANIC OR LATINO ORIGIN OF HOUSEHOLDER!!Households',
#                                'Geographic Area Name'
#                               ], inplace=True)

In [27]:
df_income_mean.head()

          year  households_count  mean_income_per_household
zip_code
89010     2013             149.0                      39548
89019     2013             942.0                      53833
89060     2013            4354.0                      50303
89061     2013            1919.0                      63258
89439     2013             729.0                     134593

In [28]:
df_income_median.head()

          year  households_count  median_income_per_household
zip_code
89010     2013             149.0                        32679
89019     2013             942.0                        38269
89060     2013            4354.0                        38217
89061     2013            1919.0                        51513
89439     2013             729.0                        64145

In [29]:
df_income_median.households_count.value_counts()

0.0        1018
16.0         52
13.0         46
78.0         46
64.0         46
           ...
16426.0       2
17087.0       2
5496.0        2
6966.0        2
6975.0        2
Name: households_count, Length: 10809, dtype: int64

In [30]:
df_income = pd.merge(df_income_mean, df_income_median,  how='left', left_on=['zip_code','year','households_count'], right_on = ['zip_code','year','households_count'])

In [31]:
df_income.head()

,year,households_count,mean_income_per_household,median_income_per_household
zip_code,,,,
89010,2013,149.0,39548,32679
89010,2013,149.0,39548,32679
89019,2013,942.0,53833,38269
89019,2013,942.0,53833,38269
89060,2013,4354.0,50303,38217

In [32]:
# check to see if household count is equivalent or if we need to keep both
#pd.DataFrame(df_income.households_count_x == df_income.households_count_y).value_counts()

In [33]:
df_income.shape

(77992, 4)

In [34]:
df_income.drop_duplicates(inplace=True)

In [35]:
df_income.shape

(18892, 4)

In [36]:
cd ..

/Users/emnichols/capstone

In [37]:
df_income.groupby('year')['mean_income_per_household'].mean()
#27.8% increase

year
2011     79082.142691
2012     79150.047066
2013     79386.400935
2014     80035.265543
2015     81217.654450
2016     83951.343040
2017     88027.302448
2018     93607.137449
2019     98374.325364
2020    102521.673088
2021    109508.518626
Name: mean_income_per_household, dtype: float64

## Education

In [38]:
cd education_level_ca

/Users/emnichols/capstone/education_level_ca

In [39]:
path = os.getcwd()
files = os.listdir(path)
files

['ACSST5Y2013.S1501-Data.csv',
 'ACSST5Y2014.S1501-Data.csv',
 'ACSST5Y2015.S1501-Data.csv',
 '.DS_Store',
 'ACSST5Y2012.S1501-Data.csv',
 'ACSST5Y2018.S1501-Data.csv',
 'ACSST5Y2017.S1501-Data.csv',
 'ACSST5Y2016.S1501-Data.csv',
 'ACSST5Y2019.S1501-Data.csv',
 'ACSST5Y2011.S1501-Data.csv',
 'ACSST5Y2021.S1501-Data.csv',
 'ACSST5Y2020.S1501-Data.csv']

In [40]:
df_edu = pd.DataFrame()

In [41]:
edu_columns_2011_2014 = ['Geographic Area Name', \
                         'Total!!Estimate!!Percent high school graduate or higher',\
                         'Total!!Estimate!!Percent bachelor\'s degree or higher'
                        ]

In [42]:
edu_columns_2015_2016 = ['Geographic Area Name', \
                         'Percent!!Estimate!!Percent high school graduate or higher',\
                         'Percent!!Estimate!!Percent bachelor\'s degree or higher'
                        ]

In [43]:
edu_columns_2017 = ['Geographic Area Name', \
                    'Estimate!!Percent!!Population 25 years and over!!Percent high school graduate or higher',\
                    'Estimate!!Percent!!Population 25 years and over!!Percent bachelor\'s degree or higher'
                    ]

In [44]:
edu_columns_2018 = ['Geographic Area Name', \
                    'Estimate!!Percent!!Population 25 years and over!!High school graduate (includes equivalency)',\
                    'Estimate!!Percent!!Population 25 years and over!!Bachelor\'s degree or higher'
                    ]

In [45]:
edu_columns_2019_2021 = ['Geographic Area Name', \
                         'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)',\
                         'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor\'s degree or higher'
                        ]

In [46]:
for f in files:
    if f[-3:] == 'csv':
        year = int(f[7:11])
        if year in range(2011,2015):
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1, header=0,usecols=edu_columns_2011_2014)
            data['year'] = year
            #print(f[7:11])
            df_edu = pd.concat([df_edu,data])
                
        if year in range(2015,2017):
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1,usecols=edu_columns_2015_2016)
            data['year'] = year
            #print(f[7:11])
            df_edu = pd.concat([df_edu,data])
            
        if year == 2017:
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1,usecols=edu_columns_2017)
            data['year'] = year
            #print(f[7:11])
            df_edu = pd.concat([df_edu,data])
            
        if year == 2018:
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1,usecols=edu_columns_2018)
            data['year'] = year
            #print(f[7:11])
            df_edu = pd.concat([df_edu,data])
        
        if year in range(2019,2022):
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1,usecols=edu_columns_2019_2021)
            data['year'] = year
            #print(f[7:11])
            df_edu = pd.concat([df_edu,data])

In [47]:
df_edu.columns

Index(['Geographic Area Name',
       'Total!!Estimate!!Percent high school graduate or higher',
       'Total!!Estimate!!Percent bachelor's degree or higher', 'year',
       'Percent!!Estimate!!Percent high school graduate or higher',
       'Percent!!Estimate!!Percent bachelor's degree or higher',
       'Estimate!!Percent!!Population 25 years and over!!High school graduate (includes equivalency)',
       'Estimate!!Percent!!Population 25 years and over!!Bachelor's degree or higher',
       'Estimate!!Percent!!Population 25 years and over!!Percent high school graduate or higher',
       'Estimate!!Percent!!Population 25 years and over!!Percent bachelor's degree or higher',
       'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)',
       'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher'],
      dtype='object')

In [48]:
df_edu['zip_code'] = df_edu['Geographic Area Name'].replace('ZCTA5 ','',regex=True)

df_edu.drop(columns=['Geographic Area Name'], inplace=True)

In [49]:
# clean data
df_edu = df_edu.fillna(0)
df_edu = df_edu.replace('-',0,regex=True)
df_edu = df_edu.replace(',',0,regex=True)
df_edu = df_edu.replace('\(X\)',0,regex=True)
df_edu = df_edu.replace('N',0,regex=True)

In [50]:
#typecasting
df_edu = df_edu.apply(pd.to_numeric)
df_edu = df_edu.apply(pd.to_numeric)

df_edu['year'] = df_edu.year.astype('str')
df_edu['zip_code'] = df_edu.zip_code.astype('str')

In [51]:
#set index
df_edu.set_index('zip_code',inplace=True)

In [52]:
df_edu.head()

,Total!!Estimate!!Percent high school graduate or higher,Total!!Estimate!!Percent bachelor's degree or higher,year,Percent!!Estimate!!Percent high school graduate or higher,Percent!!Estimate!!Percent bachelor's degree or higher,Estimate!!Percent!!Population 25 years and over!!High school graduate (includes equivalency),Estimate!!Percent!!Population 25 years and over!!Bachelor's degree or higher,Estimate!!Percent!!Population 25 years and over!!Percent high school graduate or higher,Estimate!!Percent!!Population 25 years and over!!Percent bachelor's degree or higher,Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency),Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher
zip_code,,,,,,,,,,,
89010,61.6,13.4,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89019,80.7,13.1,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89060,81.8,10.9,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89061,87.4,22.4,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89439,94.7,34.7,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
list_high_school_col = ['Total!!Estimate!!Percent high school graduate or higher',\
                       'Percent!!Estimate!!Percent high school graduate or higher',\
                       'Estimate!!Percent!!Population 25 years and over!!High school graduate (includes equivalency)',\
                       'Estimate!!Percent!!Population 25 years and over!!Percent high school graduate or higher',\
                       'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)']

In [54]:
list_bach_deg_col = ['Total!!Estimate!!Percent bachelor\'s degree or higher',\
                       'Percent!!Estimate!!Percent bachelor\'s degree or higher',\
                       'Estimate!!Percent!!Population 25 years and over!!Bachelor\'s degree or higher',\
                       'Estimate!!Percent!!Population 25 years and over!!Percent bachelor\'s degree or higher',\
                       'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor\'s degree or higher']

In [55]:
# merge columns to fill in NaNs

df_edu['percent_high_school_grad'] = df_edu[list_high_school_col].max(axis=1)

df_edu['percent_bach_deg_grad'] = df_edu[list_bach_deg_col].max(axis=1)

In [56]:
df_edu.head()

,Total!!Estimate!!Percent high school graduate or higher,Total!!Estimate!!Percent bachelor's degree or higher,year,Percent!!Estimate!!Percent high school graduate or higher,Percent!!Estimate!!Percent bachelor's degree or higher,Estimate!!Percent!!Population 25 years and over!!High school graduate (includes equivalency),Estimate!!Percent!!Population 25 years and over!!Bachelor's degree or higher,Estimate!!Percent!!Population 25 years and over!!Percent high school graduate or higher,Estimate!!Percent!!Population 25 years and over!!Percent bachelor's degree or higher,Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency),Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher,percent_high_school_grad,percent_bach_deg_grad
zip_code,,,,,,,,,,,,,
89010,61.6,13.4,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.6,13.4
89019,80.7,13.1,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80.7,13.1
89060,81.8,10.9,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,81.8,10.9
89061,87.4,22.4,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,87.4,22.4
89439,94.7,34.7,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,94.7,34.7

In [57]:
df_edu['percent_high_school_grad'].isna().sum()

0

In [58]:
df_edu['percent_bach_deg_grad'].isna().sum()

0

In [59]:
df_edu.shape

(38996, 13)

In [60]:
# drop columns
df_edu.drop(columns=['Total!!Estimate!!Percent high school graduate or higher','Percent!!Estimate!!Percent bachelor\'s degree or higher',\
                       'Estimate!!Percent!!Population 25 years and over!!Bachelor\'s degree or higher',\
                       'Estimate!!Percent!!Population 25 years and over!!Percent bachelor\'s degree or higher',\
                       'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor\'s degree or higher'], inplace=True)

In [61]:
df_edu.drop(columns=['Total!!Estimate!!Percent bachelor\'s degree or higher','Percent!!Estimate!!Percent high school graduate or higher',\
                       'Estimate!!Percent!!Population 25 years and over!!High school graduate (includes equivalency)',\
                       'Estimate!!Percent!!Population 25 years and over!!Percent high school graduate or higher',\
                       'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate (includes equivalency)',
                        ], inplace=True)

In [62]:
df_edu.head()

          year  percent_high_school_grad  percent_bach_deg_grad
zip_code
89010     2013                      61.6                   13.4
89019     2013                      80.7                   13.1
89060     2013                      81.8                   10.9
89061     2013                      87.4                   22.4
89439     2013                      94.7                   34.7

In [63]:
# merge with income
df_demographics = pd.merge(df_income, df_edu,  how='left', left_on=['zip_code','year'], right_on = ['zip_code','year'])

In [64]:
df_demographics.shape

(37784, 6)

In [65]:
df_demographics.drop_duplicates(inplace=True)

In [66]:
df_demographics.shape

(18892, 6)

In [67]:
cd ..

/Users/emnichols/capstone

## Total Population

In [68]:
#cd ..

In [69]:
cd total_population_ca

/Users/emnichols/capstone/total_population_ca

In [70]:
path = os.getcwd()
files = os.listdir(path)

In [71]:
files

['ACSDT5Y2017.B01003-Data.csv',
 'ACSDT5Y2018.B01003-Data.csv',
 '.DS_Store',
 'ACSDT5Y2011.B01003-Data.csv',
 'ACSDT5Y2016.B01003-Data.csv',
 'ACSDT5Y2019.B01003-Data.csv',
 'ACSDT5Y2021.B01003-Data.csv',
 'ACSDT5Y2013.B01003-Data.csv',
 'ACSDT5Y2014.B01003-Data.csv',
 'ACSDT5Y2015.B01003-Data.csv',
 'ACSDT5Y2020.B01003-Data.csv',
 'ACSDT5Y2012.B01003-Data.csv']

In [72]:
df_population = pd.DataFrame()

In [73]:
population_columns = ['Geographic Area Name','Estimate!!Total']

In [74]:
for f in files:
    if f[-3:] == 'csv':
        year = int(f[7:11])
        data = pd.read_csv(f, skiprows=1, header=0,usecols=population_columns)
        data['year'] = year
        #print(f[7:11])
        df_population = pd.concat([df_population,data])

In [75]:
df_population.head()

  Geographic Area Name  Estimate!!Total  year
0          ZCTA5 89010              512  2017
1          ZCTA5 89019             1748  2017
2          ZCTA5 89060             9373  2017
3          ZCTA5 89061             5360  2017
4          ZCTA5 89439             1465  2017

In [76]:
df_population['zip_code'] = df_population['Geographic Area Name'].replace('ZCTA5 ','',regex=True)

df_population.drop(columns=['Geographic Area Name'], inplace=True)

In [77]:
# clean data
df_population = df_population.fillna(0)
df_population = df_population.replace('-',0,regex=True)
df_population = df_population.replace(',',0,regex=True)
df_population = df_population.replace('\(X\)',0,regex=True)
df_population = df_population.replace('N',0,regex=True)
df_population = df_population.replace('\n','',regex=True)

In [78]:
#typecasting
df_population = df_population.apply(pd.to_numeric)
df_population = df_population.apply(pd.to_numeric)

df_population['year'] = df_population.year.astype('str')
df_population['zip_code'] = df_population.zip_code.astype('str')

In [79]:
#set index
df_population.set_index('zip_code',inplace=True)

In [80]:
#rename column
df_population = df_population.rename(columns={'Estimate!!Total': 'total_population'})

In [81]:
df_population.head()

          total_population  year
zip_code
89010                  512  2017
89019                 1748  2017
89060                 9373  2017
89061                 5360  2017
89439                 1465  2017

In [82]:
# merge
df_demographics_2 = pd.merge(df_demographics, df_population,  how='left', left_on=['zip_code','year'], right_on = ['zip_code','year'])

In [83]:
df_demo = df_demographics_2.drop_duplicates()

In [84]:
df_demo.year.value_counts()

2011    1724
2014    1721
2012    1721
2015    1719
2021    1718
2018    1717
2016    1717
2017    1716
2019    1715
2020    1713
2013    1711
Name: year, dtype: int64

In [85]:
#df_demo.to_csv('test.csv')

## Age and Sex

In [86]:
cd ..

/Users/emnichols/capstone

In [87]:
cd age_sex_ca

/Users/emnichols/capstone/age_sex_ca

In [88]:
path = os.getcwd()
files = os.listdir(path)

In [89]:
files

['ACSST5Y2015.S0101-Data.csv',
 'ACSST5Y2012.S0101-Data.csv',
 'ACSST5Y2013.S0101-Data.csv',
 '.DS_Store',
 'ACSST5Y2014.S0101-Data.csv',
 'ACSST5Y2016.S0101-Data.csv',
 'ACSST5Y2011.S0101-Data.csv',
 'ACSST5Y2019.S0101-Data.csv',
 'ACSST5Y2018.S0101-Data.csv',
 'ACSST5Y2017.S0101-Data.csv',
 'ACSST5Y2020.S0101-Data.csv',
 'ACSST5Y2021.S0101-Data.csv']

In [90]:
df_age = pd.DataFrame()

In [91]:
age_columns_2011_2016 = ['Geographic Area Name',\
                         'Total!!Estimate!!Total population',
                         'Total!!Estimate!!AGE!!Under 5 years',\
                         'Total!!Estimate!!AGE!!5 to 9 years',\
                         'Total!!Estimate!!AGE!!10 to 14 years',\
                         'Total!!Estimate!!AGE!!15 to 19 years',\
                         'Male!!Estimate!!AGE!!Under 5 years',\
                         'Male!!Estimate!!AGE!!5 to 9 years',\
                         'Male!!Estimate!!AGE!!10 to 14 years',\
                         'Male!!Estimate!!AGE!!15 to 19 years',\
                         'Female!!Estimate!!AGE!!Under 5 years',\
                         'Female!!Estimate!!AGE!!5 to 9 years',\
                         'Female!!Estimate!!AGE!!10 to 14 years',\
                         'Female!!Estimate!!AGE!!15 to 19 years',\
                         'Total!!Estimate!!SUMMARY INDICATORS!!Median age (years)',\
                         #'Total!!Estimate!!SELECTED AGE CATEGORIES!!Under 18 years'
                        ]


# age_columns_2017_2021 = ['Geographic Area Name',\
#                          'Estimate!!Total!!Total population!!AGE!!Under 5 years',\
#                          'Estimate!!Total!!Total population!!AGE!!5 to 9 years',\
#                          'Estimate!!Total!!Total population!!AGE!!10 to 14 years',\
#                          'Estimate!!Total!!Total population!!AGE!!15 to 19 years',\
#                          'Estimate!!Male!!Total population!!AGE!!Under 5 years',\
#                          'Estimate!!Male!!Total population!!AGE!!5 to 9 years',\
#                          'Estimate!!Male!!Total population!!AGE!!10 to 14 years',\
#                          'Estimate!!Male!!Total population!!AGE!!15 to 19 years',\
#                          'Estimate!!Female!!Total population!!AGE!!Under 5 years',\
#                          'Estimate!!Female!!Total population!!AGE!!5 to 9 years',\
#                          'Estimate!!Female!!Total population!!AGE!!10 to 14 years',\
#                          'Estimate!!Female!!Total population!!AGE!!15 to 19 years',\
#                          'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)',\
#                          #'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years'
                       
#                         ]

age_columns_2017_2021 = ['Geographic Area Name',\
                         'Estimate!!Percent!!Total population!!AGE!!Under 5 years',\
                         'Estimate!!Percent!!Total population!!AGE!!5 to 9 years',\
                         'Estimate!!Percent!!Total population!!AGE!!10 to 14 years',\
                         'Estimate!!Percent!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!Under 5 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!Under 5 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)',\
                         #'Estimate!!Total!!Total population!!SELECTED AGE CATEGORIES!!Under 18 years'
                       
                        ]

#2017
# Estimate!!Total!!Total population!!AGE!!Under 5 years
# Estimate!!Percent!!Total population!!AGE!!Under 5 years
# Estimate!!Male!!Total population!!AGE!!Under 5 years
# Estimate!!Percent Male!!Total population!!AGE!!Under 5 years
# Estimate!!Female!!Total population!!AGE!!Under 5 years
# Estimate!!Percent Female!!Total population!!AGE!!Under 5 years

In [92]:
for f in files:
    if f[-3:] == 'csv':
        year = int(f[7:11])
        if year in range(2011,2017):
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1, header=0,usecols=age_columns_2011_2016)
            data['year'] = year
            #print(f[7:11])
            df_age = pd.concat([df_age,data])
                
        if year in range(2017,2022):
            #print(f[-10])
            data = pd.read_csv(f, skiprows=1,usecols=age_columns_2017_2021)
            data['year'] = year
            #print(f[7:11])
            df_age = pd.concat([df_age,data])

In [93]:
df_age.head()

,Geographic Area Name,Total!!Estimate!!Total population,Total!!Estimate!!AGE!!Under 5 years,Male!!Estimate!!AGE!!Under 5 years,Female!!Estimate!!AGE!!Under 5 years,Total!!Estimate!!AGE!!5 to 9 years,Male!!Estimate!!AGE!!5 to 9 years,Female!!Estimate!!AGE!!5 to 9 years,Total!!Estimate!!AGE!!10 to 14 years,Male!!Estimate!!AGE!!10 to 14 years,...,Estimate!!Percent!!Total population!!AGE!!10 to 14 years,Estimate!!Percent!!Total population!!AGE!!15 to 19 years,Estimate!!Percent Male!!Total population!!AGE!!Under 5 years,Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years,Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years,Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years,Estimate!!Percent Female!!Total population!!AGE!!Under 5 years,Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years,Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years,Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years
0,ZCTA5 89010,549.0,1.1,0.0,1.8,6.0,7.3,5.2,4.7,2.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZCTA5 89019,1804.0,0.7,1.4,0.0,4.8,0.0,9.3,2.3,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZCTA5 89060,9587.0,3.9,4.0,3.8,5.7,4.2,7.2,3.8,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ZCTA5 89061,5337.0,4.8,4.8,4.8,3.8,6.3,1.5,5.8,6.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ZCTA5 89439,1609.0,3.5,4.7,2.3,3.4,2.3,4.5,2.3,2.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
# clean data
df_age = df_age.fillna(0)
df_age = df_age.replace('-',0,regex=True)
df_age = df_age.replace(',',0,regex=True)
df_age = df_age.replace('\(X\)',0,regex=True)
df_age = df_age.replace('N',0,regex=True)

In [95]:
df_age['zip_code'] = df_age['Geographic Area Name'].replace('ZCTA5 ','',regex=True)

df_age.drop(columns=['Geographic Area Name'], inplace=True)

In [96]:
#typecasting
df_age = df_age.apply(pd.to_numeric)
df_age = df_age.apply(pd.to_numeric)

df_age['year'] = df_age.year.astype('str')
df_age['zip_code'] = df_age.zip_code.astype('str')

In [97]:
df_age['Total!!Estimate!!AGE!!Under 5 years'].max()

42.9

In [98]:
df_age.head()

,Total!!Estimate!!Total population,Total!!Estimate!!AGE!!Under 5 years,Male!!Estimate!!AGE!!Under 5 years,Female!!Estimate!!AGE!!Under 5 years,Total!!Estimate!!AGE!!5 to 9 years,Male!!Estimate!!AGE!!5 to 9 years,Female!!Estimate!!AGE!!5 to 9 years,Total!!Estimate!!AGE!!10 to 14 years,Male!!Estimate!!AGE!!10 to 14 years,Female!!Estimate!!AGE!!10 to 14 years,...,Estimate!!Percent!!Total population!!AGE!!15 to 19 years,Estimate!!Percent Male!!Total population!!AGE!!Under 5 years,Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years,Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years,Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years,Estimate!!Percent Female!!Total population!!AGE!!Under 5 years,Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years,Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years,Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years,zip_code
0,549.0,1.1,0.0,1.8,6.0,7.3,5.2,4.7,2.7,6.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89010
1,1804.0,0.7,1.4,0.0,4.8,0.0,9.3,2.3,0.7,3.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89019
2,9587.0,3.9,4.0,3.8,5.7,4.2,7.2,3.8,5.2,2.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89060
3,5337.0,4.8,4.8,4.8,3.8,6.3,1.5,5.8,6.7,4.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89061
4,1609.0,3.5,4.7,2.3,3.4,2.3,4.5,2.3,2.3,2.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89439

In [99]:
#set index
df_age.set_index('zip_code',inplace=True)

In [100]:
#list_under5 = ['Total!!Estimate!!AGE!!Under 5 years','Estimate!!Total!!Total population!!AGE!!Under 5 years']
list_under5 = ['Total!!Estimate!!AGE!!Under 5 years','Estimate!!Percent!!Total population!!AGE!!Under 5 years']

#list_5_9 = ['Total!!Estimate!!AGE!!5 to 9 years','Estimate!!Total!!Total population!!AGE!!5 to 9 years']
list_5_9 = ['Total!!Estimate!!AGE!!5 to 9 years','Estimate!!Percent!!Total population!!AGE!!5 to 9 years']

#list_10_14 = ['Total!!Estimate!!AGE!!10 to 14 years','Estimate!!Total!!Total population!!AGE!!10 to 14 years']
list_10_14 = ['Total!!Estimate!!AGE!!10 to 14 years','Estimate!!Percent!!Total population!!AGE!!10 to 14 years']

#list_15_19 = ['Total!!Estimate!!AGE!!15 to 19 years','Estimate!!Total!!Total population!!AGE!!15 to 19 years']
list_15_19 = ['Total!!Estimate!!AGE!!15 to 19 years','Estimate!!Percent!!Total population!!AGE!!15 to 19 years']

#list_male_under5 = ['Male!!Estimate!!AGE!!Under 5 years','Estimate!!Male!!Total population!!AGE!!Under 5 years']
list_male_under5 = ['Male!!Estimate!!AGE!!Under 5 years','Estimate!!Percent Male!!Total population!!AGE!!Under 5 years']

#list_male_5_9 = ['Male!!Estimate!!AGE!!5 to 9 years','Estimate!!Male!!Total population!!AGE!!5 to 9 years']
list_male_5_9 = ['Male!!Estimate!!AGE!!5 to 9 years','Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years']

#list_male_10_14 = ['Male!!Estimate!!AGE!!10 to 14 years','Estimate!!Male!!Total population!!AGE!!10 to 14 years']
list_male_10_14 = ['Male!!Estimate!!AGE!!10 to 14 years','Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years']

#list_male_15_19 = ['Male!!Estimate!!AGE!!15 to 19 years','Estimate!!Male!!Total population!!AGE!!15 to 19 years']
list_male_15_19 = ['Male!!Estimate!!AGE!!15 to 19 years','Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years']

#list_female_under5 = ['Female!!Estimate!!AGE!!Under 5 years','Estimate!!Female!!Total population!!AGE!!Under 5 years']
list_female_under5 = ['Female!!Estimate!!AGE!!Under 5 years','Estimate!!Percent Female!!Total population!!AGE!!Under 5 years']

#list_female_5_9 = ['Female!!Estimate!!AGE!!5 to 9 years','Estimate!!Female!!Total population!!AGE!!5 to 9 years']
list_female_5_9 = ['Female!!Estimate!!AGE!!5 to 9 years','Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years']

#list_female_10_14 = ['Female!!Estimate!!AGE!!10 to 14 years','Estimate!!Female!!Total population!!AGE!!10 to 14 years']
list_female_10_14 = ['Female!!Estimate!!AGE!!10 to 14 years','Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years']

#list_female_15_19 = ['Female!!Estimate!!AGE!!15 to 19 years','Estimate!!Female!!Total population!!AGE!!15 to 19 years']
list_female_15_19 = ['Female!!Estimate!!AGE!!15 to 19 years','Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years']

list_median_age = ['Total!!Estimate!!SUMMARY INDICATORS!!Median age (years)','Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)']

In [101]:
# merge columns to fill in NaNs

df_age['percent_pop_age_under_5'] = df_age[list_under5].max(axis=1)

df_age['percent_pop_age_5to9'] = df_age[list_5_9].max(axis=1)

df_age['percent_pop_age_10to14'] = df_age[list_10_14].max(axis=1)

df_age['percent_pop_age_15to19'] = df_age[list_15_19].max(axis=1)

df_age['percent_pop_male_age_under_5'] = df_age[list_male_under5].max(axis=1)

df_age['percent_pop_male_age_5to9'] = df_age[list_male_5_9].max(axis=1)

df_age['percent_pop_male_age_10to14'] = df_age[list_male_10_14].max(axis=1)

df_age['percent_pop_male_age_15to19'] = df_age[list_male_15_19].max(axis=1)

df_age['percent_pop_female_age_under_5'] = df_age[list_female_under5].max(axis=1)

df_age['percent_pop_female_age_5to9'] = df_age[list_female_5_9].max(axis=1)

df_age['percent_pop_female_age_10to14'] = df_age[list_female_10_14].max(axis=1)

df_age['percent_pop_female_age_15to19'] = df_age[list_female_15_19].max(axis=1)

In [102]:
df_age.head()

,Total!!Estimate!!Total population,Total!!Estimate!!AGE!!Under 5 years,Male!!Estimate!!AGE!!Under 5 years,Female!!Estimate!!AGE!!Under 5 years,Total!!Estimate!!AGE!!5 to 9 years,Male!!Estimate!!AGE!!5 to 9 years,Female!!Estimate!!AGE!!5 to 9 years,Total!!Estimate!!AGE!!10 to 14 years,Male!!Estimate!!AGE!!10 to 14 years,Female!!Estimate!!AGE!!10 to 14 years,...,percent_pop_age_10to14,percent_pop_age_15to19,percent_pop_male_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_10to14,percent_pop_male_age_15to19,percent_pop_female_age_under_5,percent_pop_female_age_5to9,percent_pop_female_age_10to14,percent_pop_female_age_15to19
zip_code,,,,,,,,,,,,,,,,,,,,,
89010,549.0,1.1,0.0,1.8,6.0,7.3,5.2,4.7,2.7,6.1,...,4.7,2.2,0.0,7.3,2.7,5.5,1.8,5.2,6.1,0.0
89019,1804.0,0.7,1.4,0.0,4.8,0.0,9.3,2.3,0.7,3.8,...,2.3,3.0,1.4,0.0,0.7,1.8,0.0,9.3,3.8,4.2
89060,9587.0,3.9,4.0,3.8,5.7,4.2,7.2,3.8,5.2,2.3,...,3.8,5.4,4.0,4.2,5.2,6.2,3.8,7.2,2.3,4.6
89061,5337.0,4.8,4.8,4.8,3.8,6.3,1.5,5.8,6.7,4.9,...,5.8,3.3,4.8,6.3,6.7,0.9,4.8,1.5,4.9,5.6
89439,1609.0,3.5,4.7,2.3,3.4,2.3,4.5,2.3,2.3,2.3,...,2.3,4.6,4.7,2.3,2.3,7.0,2.3,4.5,2.3,2.3

In [103]:
#drop columns
df_age.drop(columns=['Total!!Estimate!!AGE!!Under 5 years',\
                         'Total!!Estimate!!AGE!!5 to 9 years',\
                         'Total!!Estimate!!AGE!!10 to 14 years',\
                         'Total!!Estimate!!AGE!!15 to 19 years',\
                         'Male!!Estimate!!AGE!!Under 5 years',\
                         'Male!!Estimate!!AGE!!5 to 9 years',\
                         'Male!!Estimate!!AGE!!10 to 14 years',\
                         'Male!!Estimate!!AGE!!15 to 19 years',\
                         'Female!!Estimate!!AGE!!Under 5 years',\
                         'Female!!Estimate!!AGE!!5 to 9 years',\
                         'Female!!Estimate!!AGE!!10 to 14 years',\
                         'Female!!Estimate!!AGE!!15 to 19 years',\
                         'Total!!Estimate!!SUMMARY INDICATORS!!Median age (years)',\
#                          'Estimate!!Total!!Total population!!AGE!!Under 5 years',\
#                          'Estimate!!Total!!Total population!!AGE!!5 to 9 years',\
#                          'Estimate!!Total!!Total population!!AGE!!10 to 14 years',\
#                          'Estimate!!Total!!Total population!!AGE!!15 to 19 years',\
#                          'Estimate!!Male!!Total population!!AGE!!Under 5 years',\
#                          'Estimate!!Male!!Total population!!AGE!!5 to 9 years',\
#                          'Estimate!!Male!!Total population!!AGE!!10 to 14 years',\
#                          'Estimate!!Male!!Total population!!AGE!!15 to 19 years',\
#                          'Estimate!!Female!!Total population!!AGE!!Under 5 years',\
#                          'Estimate!!Female!!Total population!!AGE!!5 to 9 years',\
#                          'Estimate!!Female!!Total population!!AGE!!10 to 14 years',\
#                          'Estimate!!Female!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Percent!!Total population!!AGE!!Under 5 years',\
                         'Estimate!!Percent!!Total population!!AGE!!5 to 9 years',\
                         'Estimate!!Percent!!Total population!!AGE!!10 to 14 years',\
                         'Estimate!!Percent!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!Under 5 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!5 to 9 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!10 to 14 years',\
                         'Estimate!!Percent Male!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!Under 5 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!5 to 9 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!10 to 14 years',\
                         'Estimate!!Percent Female!!Total population!!AGE!!15 to 19 years',\
                         'Estimate!!Total!!Total population!!SUMMARY INDICATORS!!Median age (years)',\
                         'Total!!Estimate!!Total population'
                    ], inplace=True)

In [104]:
df_age.head()

,year,percent_pop_age_under_5,percent_pop_age_5to9,percent_pop_age_10to14,percent_pop_age_15to19,percent_pop_male_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_10to14,percent_pop_male_age_15to19,percent_pop_female_age_under_5,percent_pop_female_age_5to9,percent_pop_female_age_10to14,percent_pop_female_age_15to19
zip_code,,,,,,,,,,,,,
89010,2015,1.1,6.0,4.7,2.2,0.0,7.3,2.7,5.5,1.8,5.2,6.1,0.0
89019,2015,0.7,4.8,2.3,3.0,1.4,0.0,0.7,1.8,0.0,9.3,3.8,4.2
89060,2015,3.9,5.7,3.8,5.4,4.0,4.2,5.2,6.2,3.8,7.2,2.3,4.6
89061,2015,4.8,3.8,5.8,3.3,4.8,6.3,6.7,0.9,4.8,1.5,4.9,5.6
89439,2015,3.5,3.4,2.3,4.6,4.7,2.3,2.3,7.0,2.3,4.5,2.3,2.3

In [105]:
# df_age.to_csv('age.csv')

In [106]:
# merge
df_demographics_final = pd.merge(df_demo, df_age,  how='left', left_on=['zip_code','year'], right_on = ['zip_code','year'])

In [107]:
df_demographics_final = df_demographics_final.drop_duplicates()

In [108]:
cd ..

/Users/emnichols/capstone

In [109]:
# export final joined demographic data before growth rates applied
df_demographics_final.to_csv('demo.csv')

## Growth Rate Extrapolation

In [110]:
#cd ..

In [111]:
# use this for importing csv of demographic_final dataframe before growth rates
#df_demographics_final = pd.read_csv('demo.csv')

### This section is for total growth rate by column, NOT BY ZIP CODE
### Scroll down for zip code level calculations

In [112]:
# df_demographics_final.columns

In [113]:
# columns = list(df_demographics_final.columns)
# columns.remove('year') # exclude year to not calculate growth rate
# print(columns)

In [114]:
# # formula for total growth rate by column, NOT BY ZIP CODE
# def growth_rate(df, col, start_year, end_year):
#     '''Compound annual growth rate = ((end_amount)/(start_amount) ^ (1 / N)) - 1
    
#     Return indvidual growth rate given a column of dataframe
#     '''
    
#     years = int(end_year) - int(start_year)
#     col_max = df.loc[df['year'] == str(end_year)][col].mean()
#     col_min = df.loc[df['year'] == str(start_year)][col].mean()
    
#     gr_pos = ((col_max / col_min)**(1/years)) - 1
#     gr_neg = 1 - gr_pos
    
#     return gr_neg

In [115]:
# # calculate growth rates by column, NOT BY ZIP CODE
# growth_rates = []

# for col in columns:
#     growth_rates.append(growth_rate(df_demographics_final, col, 2011, 2021))

# gr_arr = np.array(growth_rates)

In [116]:
# # create dictionary for column name and growth rate
# gr_dict = dict(zip(columns, growth_rates))
# print(gr_dict)

In [117]:
# create starting year df for growth rate
# df_2011 = df_demographics_final.loc[df_demographics_final['year'] == '2011']
# df_2011 = df_2011.drop(columns='year')

In [118]:
#df_final = pd.DataFrame()

In [119]:
# def growth_rate_apply(total_df, starting_df, num_years, _dict, starting_year):
#     '''Apply growth rates for a given number of years to columns and extrapolate, produce final dataframe'''
#     df_final = total_df
#     df_start = starting_df # base year to apply growth rates to
#     year_count = int(starting_year)
#     gr_dict = _dict
#     df_int = pd.DataFrame()
#     #df_int_ = pd.DataFrame()
    
#     # iterate through number of years in input
#     for i in range(num_years):
#         # print(i)
#         year_count -= 1
#         #print(year_count)
        
#         if year_count == 2010:
#             df_int = df_start.mul(_dict)
#             df_int['year'] = str(year_count)
#             #print(df_int.head())
#             df_final = pd.concat([df_final, df_int])
#             #print(df_final['year'].value_counts())
#             df_final.drop_duplicates(inplace=True)
#             df_int.drop(columns=['year'],inplace=True)
            
#         else:
#             df_int = df_int.mul(_dict)
#             df_int['year'] = str(year_count)
#             #print(df_int.head())
#             df_final = pd.concat([df_final, df_int])
#             #print(df_final['year'].value_counts())
#             df_final.drop_duplicates(inplace=True)
#             df_int.drop(columns=['year'],inplace=True)

#     return df_final.round(1)

In [120]:
## apply growth rate to project backward
#df_final = growth_rate_apply(df_demographics_final, df_2011, 10, gr_dict, 2011)

In [121]:
#df_final.year.value_counts()

In [122]:
#df_final.head()

In [123]:
#df_final.to_csv('demographics_final.csv')

## Growth rate by zip code

In [124]:
# create iterable list of zipcodes
zip_code_list = list(df_demo.index)
len(zip_code_list)

18892

In [125]:
zip_code_list = zip_code_list
print(len(zip_code_list))
zip_code_set = [*set(zip_code_list)]
print(len(zip_code_set))

18892
1758

In [126]:
# create iterable list of columns
columns = list(df_demographics_final.columns)
columns.remove('year')
columns

['households_count',
 'mean_income_per_household',
 'median_income_per_household',
 'percent_high_school_grad',
 'percent_bach_deg_grad',
 'total_population',
 'percent_pop_age_under_5',
 'percent_pop_age_5to9',
 'percent_pop_age_10to14',
 'percent_pop_age_15to19',
 'percent_pop_male_age_under_5',
 'percent_pop_male_age_5to9',
 'percent_pop_male_age_10to14',
 'percent_pop_male_age_15to19',
 'percent_pop_female_age_under_5',
 'percent_pop_female_age_5to9',
 'percent_pop_female_age_10to14',
 'percent_pop_female_age_15to19']

In [127]:
# create starting year df for growth rate
df_2011 = df_demographics_final.loc[df_demographics_final['year'] == '2011']
df_2011 = df_2011.drop(columns='year')

In [148]:
# for each zip code, calculate the column growth rate
def growth_rate_by_zip(df, cols_list, zip_code_list, start_year, end_year):
    '''Return nested dictionary of column growth rates by zip code such that 
    
    gr_dict = {
    zip code 1: {column1: growth rate, column2: growth rate, etc}, 
    zip code 2: {column1 : growth rate, column2: growth rate, etc}
        }
        
    Compound annual growth rate = ((end_amount)/(start_amount) ^ (1 / N)) - 1'''
    
    
    years = abs(int(end_year) - int(start_year))
    cols_gr_list = []
     
    for z in zip_code_list:
        
            # select the zipcode only
            df_by_zip = df.loc[z]
            
            cols_list_ = []
            gr_neg_list = []

            for col in cols_list:
                # loop through each column and find the average value for start year and end year
                # but first confirm there is a zip code record for the start and end years
                
                if np.logical_and((str(start_year) in list(df_by_zip['year'])),(str(end_year) in list(df_by_zip['year']))):
    
                    col_max = df_by_zip[df_by_zip['year'] == str(start_year)][col].max()
                    
                    col_min = df_by_zip[df_by_zip['year'] == str(end_year)][col].max()
                    
                    #print(col_max,col_min)
                    
                    if col_min != 0:
                        gr_pos = ((col_max / col_min)**(1/years)) - 1
                    else:
                        col_min = 0.0001 #can't divide by 0
                        gr_pos = ((col_max / col_min)**(1/years)) - 1

                    gr_neg = (gr_pos / 100 + 1)**years
                   
                else:
                    # if there is not a zip code record for the start or end year, just set the gr to 1
                    gr_neg = 1
                
                if gr_neg == 0:
                    gr_neg = 1

               # print(z, col, gr_neg)

                cols_list_.append(col)
                gr_neg_list.append(gr_neg)

            # for each zip code, create dict zipping columns and growth rates
            cols_gr = dict(zip(cols_list, gr_neg_list))
            cols_gr_list.append(cols_gr)
            
    # final dict for all zip codes
    gr_dict = dict(zip(zip_code_list, cols_gr_list))
    
    return gr_dict

In [149]:
# create unique list (set) of zip codes to iterate through based on what is available in earliest data, 2011
zip_code_set_ = set(list(df_2011.index))
len(zip_code_set_)
# small_zip_code_set = set(list(df_2011.index[:10]))
# len(small_zip_code_set)

1724

In [150]:
#gr_dict_final = growth_rate_by_zip(df_demographics_final, columns, zip_code_set, 2011, 2021)
#def growth_rate_by_zip(df, cols_list, zip_code_list, start_year, end_year):
gr_dict_2011_2021 = growth_rate_by_zip(df_demographics_final, columns, zip_code_set, 2021, 2011)

In [151]:
#len(gr_dict_2011_2021) == len(zip_code_set_)
len(gr_dict_2011_2021) == len(small_zip_code_set)

False

In [152]:
gr_dict_2011_2021['89010']

{'households_count': 1.0022438429412166,
 'mean_income_per_household': 0.995565961226535,
 'median_income_per_household': 0.9977161211426084,
 'percent_high_school_grad': 0.9911909251820716,
 'percent_bach_deg_grad': 1.0045858080041488,
 'total_population': 1.0036569734192333,
 'percent_pop_age_under_5': 1.196804109807777,
 'percent_pop_age_5to9': 1.0058427336880982,
 'percent_pop_age_10to14': 1.0046755568220587,
 'percent_pop_age_15to19': 0.9891238082862658,
 'percent_pop_male_age_under_5': 1.1897861825798,
 'percent_pop_male_age_5to9': 1.0039701707064037,
 'percent_pop_male_age_10to14': 1.0039701707064037,
 'percent_pop_male_age_15to19': 0.996290461407096,
 'percent_pop_female_age_under_5': 1.2036223434575428,
 'percent_pop_female_age_5to9': 1.0076922067018268,
 'percent_pop_female_age_10to14': 1.0054629727350823,
 'percent_pop_female_age_15to19': 0.9043820750088044}

In [153]:
# years = 10
# df_by_zip = df_demographics_final.loc['89010']
# col = 'total_population'
# end_year = 2021
# start_year = 2011
# col_max = df_by_zip[df_by_zip['year'] == str(end_year)][col].max()
# col_min = df_by_zip[df_by_zip['year'] == str(start_year)][col].max()
# print(col_max,col_min)

# # col_max = df_demographics_final.loc['89010']['total_population'].max()
# # col_min = df_demographics_final.loc['89010']['total_population'].min()

# gr_pos = ((col_max / col_min)**(1/years)) - 1
# gr_neg = (gr_pos / 100 + 1)**years

# print(gr_pos, gr_neg)

In [154]:
# col_max

In [155]:
# col_min

In [156]:
# df_by_zip

In [157]:
#gr_dict_2011_2021['89010']

In [158]:
# df_by_zip = df_demographics_final.loc['89010']

# col_max = df_by_zip[df_by_zip['year'] == 2011]['percent_pop_female_age_15to19']
# #col_min = df_by_zip[df_by_zip['year'] == 2021]['percent_pop_female_age_15to19']

# col_max.shape

In [159]:
# df_2011[df_2011.index == '89010']['percent_pop_female_age_15to19']

In [160]:
# # create starting year df for growth rate
# df_2021 = df_demographics_final.loc[df_demographics_final['year'] == '2021']
# df_2021[df_2021.index == '89010']['percent_pop_female_age_15to19']

In [161]:
# df_int = df_2011.mul(gr_dict_2011_2021['89010'])
# df_int.size == df_2011.size

In [162]:
# df_int.head()

In [163]:
df_2011.head()

,households_count,mean_income_per_household,median_income_per_household,percent_high_school_grad,percent_bach_deg_grad,total_population,percent_pop_age_under_5,percent_pop_age_5to9,percent_pop_age_10to14,percent_pop_age_15to19,percent_pop_male_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_10to14,percent_pop_male_age_15to19,percent_pop_female_age_under_5,percent_pop_female_age_5to9,percent_pop_female_age_10to14,percent_pop_female_age_15to19
zip_code,,,,,,,,,,,,,,,,,,
89010,137.0,90156,45893,62.1,20.2,313,0.0,4.2,4.5,10.5,0.0,4.0,4.0,9.2,0.0,4.3,5.0,12.2
89019,905.0,43628,35825,84.6,14.7,2172,7.3,0.0,5.4,3.2,3.9,0.0,6.8,0.9,12.6,0.0,3.3,6.7
89060,4653.0,54472,39211,78.2,9.1,10691,4.1,3.7,7.4,5.8,5.2,3.3,8.6,5.8,3.0,4.1,6.1,5.8
89061,1870.0,56876,44722,80.3,13.8,4658,3.2,6.0,8.1,7.4,3.9,5.9,10.9,6.7,2.5,6.1,4.8,8.1
89439,735.0,170464,62008,92.1,30.3,1457,2.1,0.0,4.3,2.2,0.0,0.0,3.9,4.0,4.7,0.0,4.7,0.0

In [164]:
# for each zip code, loop through N years to populate data, then merge to final df and proceed to next zip code
def growth_rate_apply_by_zip(starting_year, num_years, df_start, df_final, _dict,  zip_code_list):
    
    '''Apply growth rates by zip code for a given number of years to starting year columns and extrapolate, 
    produce final dataframe'''
    
    year_count_start = int(starting_year)
    num_years = int(num_years)
    #print("Starting year: ", starting_year)
    #print("Num years to populate: ", num_years)
    
    # create intermediate df to populate extrapolated data 
    # merge this to final then clear it for next zip
    df_int = pd.DataFrame()
    
    
    for zip_code in zip_code_list:
        # print(zip_code)
        # reset year count to the starting year to generate num_years
        year_count = year_count_start-1
        # iterate through number of years in input
        
        for i in range(num_years+1):
           # print("i count: ", i)
           # print("year of data: ", year_count)
                        
            if year_count == (starting_year - 1):
                    
                # select only the current zip code from starting year df
                # create intermediate df with yearly growth rate applied
                
                df = pd.DataFrame(df_start.loc[zip_code]).T
                df_int = df.mul(_dict[zip_code])

                # create new column for the year
                df_int['year'] = str(year_count)

            else:
                # select only the current zip code from existing df_int
                df = pd.DataFrame(df_int.loc[zip_code]).T
    
                # create intermediate df with yearly growth rate applied
                df_int = df.mul(_dict[zip_code])
                    
                # create new column for the year
                df_int['year'] = str(year_count)
            
            year_count -= 1

            # append this year to final df
            df_final = pd.concat([df_final, df_int])
            # and drop duplicates
            df_final.drop_duplicates(inplace=True)
            # delete year column from df_int
            df_int.drop(columns=['year'],inplace=True)

    return df_final.round(1)

In [177]:
# growth_rate_apply_by_zip(starting_year, num_years, df_start, df_final, _dict,  zip_code_list)
#df_final_ = growth_rate_apply_by_zip(2011, 20, df_2011, df_demographics_final, gr_dict_final, small_zip_code_set)

# create data set for 2001-2021 using growth rate calculated using 2011-2021
df_final_0 = growth_rate_apply_by_zip(2011, 20, df_2011, df_demographics_final, gr_dict_2011_2021, zip_code_set_)

In [166]:
df_final_0.year.value_counts()

2010    1724
2009    1724
2001    1724
2002    1724
2003    1724
2004    1724
2005    1724
2006    1724
2007    1724
2008    1724
2000    1724
2011    1724
2014    1721
2012    1721
2015    1719
2021    1718
2016    1717
2018    1717
2017    1716
2019    1715
2020    1713
2013    1711
Name: year, dtype: int64

In [167]:
df_final_0.shape

(37856, 19)

In [168]:
#df_2000 = df_final_0.loc[df_final_0['year'] == '2000']
#df_2000 = df_2000.drop(columns='year')

In [169]:
#df_2000.index

Index(['95941', '92679', '90401', '92587', '93646', '94603', '93505', '92173',
       '95663', '96064',
       ...
       '95677', '90249', '93906', '95684', '96092', '92007', '95385', '95391',
       '91775', '93272'],
      dtype='object', length=1724)

In [170]:
# zip_code_set_2 = set(list(df_2000.index))
# len(zip_code_set_2)

1724

In [171]:
# recalculate growth rate for 2000-2010
# growth_rate_by_zip(df, cols_list, zip_code_list, start_year, end_year)
#gr_dict_2000_2010 = growth_rate_by_zip(df_final_0, columns, zip_code_set_2, 2000, 2010)

In [172]:
#df_final_1 = growth_rate_apply_by_zip(2000, 10, df_2000, df_final_0, gr_dict_2000_2010, zip_code_set_2)

In [173]:
#df_final_1.year.value_counts()

2005    1724
2004    1724
1990    1724
1991    1724
1992    1724
1993    1724
1994    1724
1995    1724
1996    1724
1997    1724
1998    1724
1999    1724
2000    1724
2001    1724
2002    1724
2003    1724
1989    1724
2006    1724
2007    1724
2008    1724
2009    1724
2010    1724
2011    1724
2014    1721
2012    1721
2015    1719
2021    1718
2016    1717
2018    1717
2017    1716
2019    1715
2020    1713
2013    1711
Name: year, dtype: int64

In [174]:
#df_final_1.columns

Index(['year', 'households_count', 'mean_income_per_household',
       'median_income_per_household', 'percent_high_school_grad',
       'percent_bach_deg_grad', 'total_population', 'percent_pop_age_under_5',
       'percent_pop_age_5to9', 'percent_pop_age_10to14',
       'percent_pop_age_15to19', 'percent_pop_male_age_under_5',
       'percent_pop_male_age_5to9', 'percent_pop_male_age_10to14',
       'percent_pop_male_age_15to19', 'percent_pop_female_age_under_5',
       'percent_pop_female_age_5to9', 'percent_pop_female_age_10to14',
       'percent_pop_female_age_15to19'],
      dtype='object')

In [175]:
# replace values for percent bach and percent high school over 100 with 100
# df_final_1['percent_bach_deg_grad'] = np.where(df_final_1['percent_bach_deg_grad'] > 100, 100, df_final_1['percent_bach_deg_grad'])

# df_final_1['percent_high_school_grad'] = np.where(df_final_1['percent_high_school_grad'] > 100, 100, df_final_1['percent_high_school_grad'])

df_final_0['percent_bach_deg_grad'] = np.where(df_final_1['percent_bach_deg_grad'] > 100, 100, df_final_1['percent_bach_deg_grad'])

df_final_0['percent_high_school_grad'] = np.where(df_final_1['percent_high_school_grad'] > 100, 100, df_final_1['percent_high_school_grad'])

In [178]:
df_final_0.to_csv('1989-2021_demographics_v2.csv')
#df_final_1.to_csv('1989-2021_demographics.csv')

In [179]:
df_final_0.year.value_counts()

2005    1724
2004    1724
1991    1724
1992    1724
1993    1724
1994    1724
1995    1724
1996    1724
1997    1724
1998    1724
1999    1724
2000    1724
2001    1724
2002    1724
2003    1724
1990    1724
2006    1724
2007    1724
2008    1724
2009    1724
2010    1724
2011    1724
2014    1721
2012    1721
2015    1719
2021    1718
2016    1717
2018    1717
2017    1716
2019    1715
2020    1713
2013    1711
Name: year, dtype: int64