In [1]:
import os
import pandas as pd
import numpy as np
import datetime as datetime64

In [2]:
os.getcwd()

'C:\\Users\\pdenk'

In [3]:
os.chdir('C:/Users/pdenk/OneDrive/Documents')
os.getcwd()

'C:\\Users\\pdenk\\OneDrive\\Documents'

In [5]:
#import demographic data - this provides zipcode level data by year 
dm=pd.read_csv('demo.csv',parse_dates=["year"])

#this is data for all of california from 1991 to 2021
yt=pd.read_csv('year_totals_int.csv',parse_dates=["year"])
dm.head()

,zip_code,year,households_count,mean_income_per_household,median_income_per_household,percent_high_school_grad,percent_bach_deg_grad,total_population,percent_pop_age_under_5,percent_pop_age_5to9,percent_pop_age_10to14,percent_pop_age_15to19,percent_pop_male_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_10to14,percent_pop_male_age_15to19,percent_pop_female_age_under_5,percent_pop_female_age_5to9,percent_pop_female_age_10to14,percent_pop_female_age_15to19
0,89010,2013-01-01,149.0,39548.0,32679.0,61.6,13.4,319.0,0.0,7.2,7.2,7.8,0.0,7.7,5.4,10.7,0.0,6.6,9.3,4.6
1,89019,2013-01-01,942.0,53833.0,38269.0,80.7,13.1,1892.0,0.8,1.4,3.6,6.8,0.9,0.0,3.9,3.1,0.7,3.2,3.2,11.8
2,89060,2013-01-01,4354.0,50303.0,38217.0,81.8,10.9,10281.0,3.7,4.8,7.3,6.2,5.3,4.4,8.1,5.7,2.2,5.2,6.4,6.6
3,89061,2013-01-01,1919.0,63258.0,51513.0,87.4,22.4,4669.0,3.9,5.6,7.4,6.2,4.0,8.2,9.5,4.9,3.8,2.7,5.1,7.6
4,89439,2013-01-01,729.0,134593.0,64145.0,94.7,34.7,1687.0,4.4,1.1,5.3,6.2,2.0,2.0,5.9,9.3,7.1,0.0,4.5,2.6

In [6]:
#compute ratio per zip code per year for each column
#step1: compute totals per year
#step2: Divide each zip, year entry by the corresponding year total(select year 2001)
#step3: Apply ratios from step2 to yearly totals to get zip code values

In [7]:
zipcodes=dm.loc[:,"zip_code"].unique()
cols=['households_count', 'mean_income_per_household',
       'median_income_per_household', 'percent_high_school_grad',
       'percent_bach_deg_grad', 'total_population', 'percent_pop_age_under_5',
       'percent_pop_age_5to9', 'percent_pop_age_10to14',
       'percent_pop_age_15to19', 'percent_pop_male_age_under_5',
       'percent_pop_male_age_5to9', 'percent_pop_male_age_10to14',
       'percent_pop_male_age_15to19', 'percent_pop_female_age_under_5',
       'percent_pop_female_age_5to9', 'percent_pop_female_age_10to14',
       'percent_pop_female_age_15to19']

In [8]:
#select year 2011
#reset the index
#drop the year column
#set the index to be the zipcode
dm1=dm.set_index("year")
dmy=dm1.loc['2011']
dmy1=dmy.reset_index()
dmy2=dmy1.drop('year',axis=1)
dmy2.set_index("zip_code",inplace=True)

In [150]:
#compute statewide values which will be used to generate ratios(multipliers)
#from collections import defaultdict
#d1=defaultdict(list)
k=[]
j=[]
d1=pd.DataFrame()
for i in cols:
    if i in ['households_count','total_population']:
        i_m=dmy2.loc[:,i].sum()
        k.append(i)
        j.append(i_m)
    else:
        i_m=dmy2.loc[:,i].mean()
        k.append(i)
        j.append(i_m)
        
d3=dict(zip(k,j))
d4=pd.Series(d3)

In [151]:
#compute ratio based on the state wide variables
#Ratio is computed as (zipcode value/California Value) - it will be used as a multiplier
zratio=dmy2/d4

In [152]:
zratio.head()

,households_count,mean_income_per_household,median_income_per_household,percent_high_school_grad,percent_bach_deg_grad,total_population,percent_pop_age_under_5,percent_pop_age_5to9,percent_pop_age_10to14,percent_pop_age_15to19,percent_pop_male_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_10to14,percent_pop_male_age_15to19,percent_pop_female_age_under_5,percent_pop_female_age_5to9,percent_pop_female_age_10to14,percent_pop_female_age_15to19
zip_code,,,,,,,,,,,,,,,,,,
89010,0.000011,1.140030,0.747486,0.753732,0.709702,0.000008,0.000000,0.708847,0.716449,1.484184,0.000000,0.669671,0.631120,1.262521,0.000000,0.733218,0.816280,1.787986
89019,0.000073,0.551680,0.583503,1.026823,0.516466,0.000059,1.236255,0.000000,0.859739,0.452323,0.648789,0.000000,1.072905,0.123507,2.161712,0.000000,0.538745,0.981927
89060,0.000374,0.688803,0.638653,0.949144,0.319717,0.000289,0.694335,0.624460,1.178161,0.819835,0.865053,0.552478,1.356909,0.795937,0.514693,0.699115,0.995862,0.850026
89061,0.000150,0.719202,0.728414,0.974633,0.484846,0.000126,0.541920,1.012638,1.289609,1.045996,0.648789,0.987764,1.719803,0.919445,0.428911,1.040146,0.783629,1.187106
89439,0.000059,2.155531,1.009961,1.117854,1.064553,0.000039,0.355635,0.000000,0.684607,0.310972,0.000000,0.000000,0.615342,0.548922,0.806353,0.000000,0.767303,0.000000

In [147]:
#replace all cases where zratio values are zero with the corresponding column mean
#for i in cols:
#    zratio[i]=zratio[i].replace(0,zratio[i].mean)

In [155]:
#zero ratios
zratio[zratio==0.0].count()

households_count                    1
mean_income_per_household          37
median_income_per_household        23
percent_high_school_grad            2
percent_bach_deg_grad              54
total_population                    1
percent_pop_age_under_5           154
percent_pop_age_5to9              151
percent_pop_age_10to14            137
percent_pop_age_15to19            119
percent_pop_male_age_under_5      214
percent_pop_male_age_5to9         210
percent_pop_male_age_10to14       199
percent_pop_male_age_15to19       163
percent_pop_female_age_under_5    226
percent_pop_female_age_5to9       201
percent_pop_female_age_10to14     198
percent_pop_female_age_15to19     181
dtype: int64

# Data for California Totals to distribute by Zipcode

In [130]:
yt=pd.read_csv('year_totals_int.csv',parse_dates=["year"])
yt.set_index("year", inplace=True)
yt["year1"]=yt.index.year
yt=yt.reset_index(drop=True)
yt1=yt.set_index("year1")
#yt1.head()
#yt2=yt1.transpose()
#yt2.head()

In [131]:
yt1.head()

,households_count,mean_income_per_household,median_income_per_household,percent_high_school_grad,percent_bach_deg_grad,total_population,percent_pop_age_under_5,percent_pop_age_5to9,percent_pop_age_10to14,percent_pop_age_15to19,percent_pop_male_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_10to14,percent_pop_male_age_15to19,percent_pop_female_age_under_5,percent_pop_female_age_5to9,percent_pop_female_age_10to14,percent_pop_female_age_15to19
year1,,,,,,,,,,,,,,,,,,
1991,10955945.21,71318643.18,62289236.04,1.257715e+06,36645.53155,32273747.99,12879.49170,11783.10933,12029.66600,17110.19697,13398.09662,11535.69583,11566.62509,18042.09594,12661.95970,12108.15370,11979.82285,16133.20564
1992,11024013.06,73575238.73,63886216.51,1.136576e+06,37176.18905,32494837.56,12731.45574,11695.90047,11958.70509,16800.63207,13232.82854,11471.13429,11524.00270,17688.47243,12516.35562,11993.36290,11898.09676,15862.44537
1993,11092503.80,75903235.30,65524140.60,1.027105e+06,37714.53089,32717441.69,12585.12130,11609.33705,11888.16276,16496.66795,13069.59907,11406.93408,11481.53738,17341.77991,12372.42588,11879.66036,11816.92821,15596.22922
1994,11161420.08,78304892.08,67204058.03,9.281773e+05,38260.66838,32941570.76,12440.46881,11523.41431,11818.03656,16198.20328,12908.38307,11343.09318,11439.22854,17001.88254,12230.15125,11767.03578,11736.31339,15334.48092
1995,11230764.51,80782539.77,68927045.42,8.387783e+05,38814.71438,33167235.22,12297.47895,11438.12750,11748.32401,15905.13855,12749.15570,11279.60958,11397.07561,16668.64712,12089.51267,11655.47893,11656.24852,15077.12549

In [132]:
#use zratio data and annual statewide data to compute zipcode level information
#iterate through years in the annual data file and multiply each year(and variable) value by the distribution values

dd1=[]
dd2=[]

for j in yt1.index:
    for c in cols:
        k=zratio.loc[:,c]*yt1.loc[j,c]
        dd1.append(k)
        dd2.append(j)

In [133]:
#convert lists to dataframes
dd1f=pd.DataFrame(dd1)
dd1f.reset_index(inplace=True)
dd2f=pd.DataFrame(dd2)
dd3=dd2f.join(dd1f)
dd3.rename(columns={0:"year","index":"feature"},inplace=True)

In [134]:
#extract zipcodes and melt dataset to get it into the desired structure
zipcodes=zratio.index
zipcodes1a=list(zipcodes1)
dd4=dd3.melt(id_vars=["year","feature"],value_vars=zipcodes1a)
dd5=dd4.pivot_table(index=["year","variable"],columns="feature")

In [135]:
#take a look at the data
dd5.head()

                         value                            \
feature       households_count mean_income_per_household
year variable
1991 89010          120.646175              8.130538e+07
     89019          796.969259              3.934504e+07
     89060         4097.566809              4.912448e+07
     89061         1646.776259              5.129248e+07
     89439          647.262326              1.537295e+08

                                                                 \
feature       median_income_per_household percent_bach_deg_grad
year variable
1991 89010                   4.656036e+07          26007.412066
     89019                   3.634595e+07          18926.186009
     89060                   3.978119e+07          11716.210386
     89061                   4.537233e+07          17767.439926
     89439                   6.290969e+07          39011.118099

                                                               \
feature       percent_high_school_grad percent_pop_age_10to14
year variable
1991 89010                9.479801e+05            8618.646229
     89019                1.291451e+06           10342.375475
     89060                1.193753e+06           14172.884910
     89061                1.225810e+06           15513.563213
     89439                1.405941e+06            8235.595286

                                                           \
feature       percent_pop_age_15to19 percent_pop_age_5to9
year variable
1991 89010              25394.682580          8352.420292
     89019               7739.331834             0.000000
     89060              14027.538949          7358.084543
     89061              17897.204866         11932.028988
     89439               5320.790636             0.000000

                                                                     \
feature       percent_pop_age_under_5 percent_pop_female_age_10to14
year variable
1991 89010                   0.000000                   9778.891579
     89019               15922.336612                   6454.068442
     89060                8942.682207                  11930.247727
     89061                6979.654405                   9387.735916
     89439                4580.398203                   9192.158085

                                                                         \
feature       percent_pop_female_age_15to19 percent_pop_female_age_5to9
year variable
1991 89010                     28845.953346                 8877.915534
     89019                     15841.630116                    0.000000
     89060                     13713.649951                 8464.989230
     89061                     19151.821484                12594.252269
     89439                         0.000000                    0.000000

                                                                          \
feature       percent_pop_female_age_under_5 percent_pop_male_age_10to14
year variable
1991 89010                          0.000000                 7299.932881
     89019                      27371.516056                12409.885898
     89060                       6517.027632                15694.855695
     89061                       5430.856360                19892.317101
     89439                      10210.009957                 7117.434559

                                                                     \
feature       percent_pop_male_age_15to19 percent_pop_male_age_5to9
year variable
1991 89010                   22778.526705               7725.116381
     89019                    2228.334134                  0.000000
     89060                   14360.375531               6373.221014
     89061                   16588.709665              11394.546662
     89439                    9903.707263                  0.000000


feature       percent_pop_male_age_under_5 total_population
year variable
1991 89010                        0.000000       273.248294
     89019                     8692.544116      1896.151101
     89060                    11590.058821      9333.218888
     89061                     8692.544116      4066.423495
     89439                        0.000000      1271.957714

In [128]:
dd5.to_csv('dd5.csv')