# Main script to Join Data on Instrument 2 Fire Location

Modules: N/A <br>
Author: Jordan Meyer <br>
Email: jordan.meyer@berkeley.edu <br>
Date created: Feb 18, 2023 <br>

**Citations (data sources)**


**Citations (persons)**
1. Cornelia Ilin 

**Preferred environment**
1. Code written in Jupyter Notebooks

In [22]:
import sys

IN_COLAB = "google.colab" in sys.modules

if IN_COLAB:
    !pip install geopandas --quiet
    from google.colab import drive

    drive.mount("/content/drive")
    in_dir = (
        in_instrument
    ) = "/content/drive/MyDrive/capstone_fire/notebooks/instrument_2/"
    import drive.MyDrive.capstone_fire.modules.deep_ols as deep_ols
else:
    in_dir = in_instrument = "../data/instrument_2/"
    %cd '..'
    import modules.deep_ols as deep_ols
    %cd 'notebooks'

/Users/jordan/Documents/GitHub/fire_capstone
/Users/jordan/Documents/GitHub/fire_capstone/notebooks

In [35]:
import calendar
import os
from datetime import date, timedelta

# geography
import geopandas as gpd
import matplotlib.pyplot as plt
import matplotlib.ticker as mticker
import numpy as np
import pandas as pd
import shapely

# Moved from sklearn.neighbors to sklearn.metrics following their package change
import sklearn.metrics
from shapely.geometry import Point

# import cartopy.crs as ccrs
# import contextily as ctx
# import fiona
# import netCDF4 as ncdf
# import osmnx as ox
# from cartopy.mpl.gridliner import LATITUDE_FORMATTER, LONGITUDE_FORMATTER
# from mpl_toolkits.axes_grid1.axes_divider import make_axes_locatable


dist = sklearn.metrics.DistanceMetric.get_metric("haversine")

# ignore warnings
import warnings

from tqdm.notebook import tqdm, trange

warnings.filterwarnings("ignore")

# START HERE FOR AGGREGATION

## Aggregation of the dataframe for OLS

In [24]:
instrument_df = pd.read_csv(in_instrument + "aggregated_draft_5.csv",)
instrument_df

,ZCTA,year_month,ins_1_no_bin_raw,ins_2_add_acres_raw,ins_3_norms,ins_4_add_acres_norms,ins_5_norm_bins_acres,ins_6_bins_raw,zip_pm25,zip_elevation,elevation_difference,zip_wspd,treatment
0,89010,199101,0.014313,2.171619,2.095820,0.001013,0.011318,24.261588,12.450976,4784.0,-3523.444444,0.878208,1
1,89010,199102,0.003401,1.473353,0.499474,0.000688,0.007878,16.875655,11.255854,4784.0,-3412.000000,0.283772,0
2,89010,199103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.130000,4784.0,NaN,1.129854,0
3,89010,199104,0.024555,4.317860,3.633868,0.002025,0.024022,51.209927,7.899268,4784.0,-3777.333333,1.547416,1
4,89010,199105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.004146,4784.0,NaN,1.658761,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
548327,97635,201808,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.950000,7370.0,NaN,0.775684,0
548328,97635,201809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.200000,7370.0,NaN,0.599688,0
548329,97635,201810,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.453125,7370.0,NaN,0.094439,0
548330,97635,201811,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.415625,7370.0,NaN,0.914967,0
548331,97635,201812,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.393750,7370.0,NaN,1.319343,0

In [25]:
demographics_df = pd.read_csv(in_instrument+'demographics.csv')

In [26]:
demographics_df['year']=demographics_df['year'].map(lambda x: str(x)[-4:])
demographics_df = demographics_df.rename(columns={'zip_code':'ZCTA'})

In [27]:
temp = instrument_df.reset_index()
instrument_df['year'] = temp['year_month'].apply(lambda x:str(x)[:4])

In [28]:
final_df = instrument_df.merge(demographics_df, on=['year','ZCTA'], how='left')
final_df.fillna(0)

,ZCTA,year_month,ins_1_no_bin_raw,ins_2_add_acres_raw,ins_3_norms,ins_4_add_acres_norms,ins_5_norm_bins_acres,ins_6_bins_raw,zip_pm25,zip_elevation,...,percent_pop_female_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_under_5,total_population,percent_bach_deg_grad_new,percent_high_school_grad_new,percent_pop_age_15to19_new,percent_pop_female_age_15to19_new,percent_pop_male_age_10to14_new,percent_pop_male_age_15to19_new
0,89010,199101,0.014313,2.171619,2.095820,0.001013,0.011318,24.261588,12.450976,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
1,89010,199102,0.003401,1.473353,0.499474,0.000688,0.007878,16.875655,11.255854,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
2,89010,199103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.130000,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
3,89010,199104,0.024555,4.317860,3.633868,0.002025,0.024022,51.209927,7.899268,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
4,89010,199105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.004146,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548327,97635,201808,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.950000,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548328,97635,201809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.200000,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548329,97635,201810,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.453125,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548330,97635,201811,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.415625,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548331,97635,201812,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.393750,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300

In [29]:
final_df.to_csv(in_instrument + 'finalish_df_6.csv')

In [36]:
final_df

,ZCTA,year_month,ins_1_no_bin_raw,ins_2_add_acres_raw,ins_3_norms,ins_4_add_acres_norms,ins_5_norm_bins_acres,ins_6_bins_raw,zip_pm25,zip_elevation,...,percent_pop_female_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_under_5,total_population,percent_bach_deg_grad_new,percent_high_school_grad_new,percent_pop_age_15to19_new,percent_pop_female_age_15to19_new,percent_pop_male_age_10to14_new,percent_pop_male_age_15to19_new
0,89010,199101,0.014313,2.171619,2.095820,0.001013,0.011318,24.261588,12.450976,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
1,89010,199102,0.003401,1.473353,0.499474,0.000688,0.007878,16.875655,11.255854,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
2,89010,199103,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.130000,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
3,89010,199104,0.024555,4.317860,3.633868,0.002025,0.024022,51.209927,7.899268,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
4,89010,199105,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.004146,4784.0,...,1.8,4.5,2.4,275.6,14.272763,56.603842,13.526364,14.514991,3.99958,8.781446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548327,97635,201808,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.950000,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548328,97635,201809,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.200000,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548329,97635,201810,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.453125,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548330,97635,201811,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.415625,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300
548331,97635,201812,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.393750,7370.0,...,9.6,3.4,15.7,138.0,8.472573,43.360501,2.356591,5.758929,12.83365,11.093300

In [38]:
final_df.iloc[:,:9].groupby(['year_month']).sum()

,ZCTA,ins_1_no_bin_raw,ins_2_add_acres_raw,ins_3_norms,ins_4_add_acres_norms,ins_5_norm_bins_acres,ins_6_bins_raw,zip_pm25
year_month,,,,,,,,
199101,152937606,26.864811,5736.485628,3943.334096,2.67910,29.325210,62791.308838,35026.407429
199102,152937606,8.043872,4326.408206,1203.372300,2.02121,22.076365,47254.620748,26172.689642
199103,152480043,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,16444.378421
199104,152937606,25.976775,2790.972714,3846.035418,1.30774,14.257673,30428.809189,20464.641418
199105,152480043,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,21994.465460
...,...,...,...,...,...,...,...,...
201808,152480043,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,27211.137765
201809,152480043,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,15027.243822
201810,152480043,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,12527.645153
201811,152480043,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,31103.239456
201812,152388321,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,13817.338740

In [39]:
final_df.groupby('year').sum()

,ZCTA,year_month,ins_1_no_bin_raw,ins_2_add_acres_raw,ins_3_norms,ins_4_add_acres_norms,ins_5_norm_bins_acres,ins_6_bins_raw,zip_pm25,zip_elevation,...,percent_pop_female_age_under_5,percent_pop_male_age_5to9,percent_pop_male_age_under_5,total_population,percent_bach_deg_grad_new,percent_high_school_grad_new,percent_pop_age_15to19_new,percent_pop_female_age_15to19_new,percent_pop_male_age_10to14_new,percent_pop_male_age_15to19_new
year,,,,,,,,,,,,,,,,,,,,,
1991,1834336146,3899699934,194.002846,8.702474e+04,28556.186083,40.542400,438.611515,9.415232e+05,302638.946485,25174260.0,...,163006.6,146384.4,171530.4,366501425.4,398767.887787,1.447693e+06,183455.062730,170752.967709,138438.29626,142722.741130
1992,1833878583,3900662489,353.984096,2.508489e+05,52285.086927,116.322391,1267.009947,2.732526e+06,258377.326868,25174260.0,...,161328.9,145671.6,169620.6,368905308.9,404755.851021,1.450388e+06,180780.773864,168553.584276,138189.87741,140621.109878
1993,1833421020,3901624124,428.008405,1.174820e+06,63215.354664,549.786632,5974.092763,1.276578e+07,250860.892488,25174260.0,...,159837.2,144931.2,167682.0,371309175.6,410784.130331,1.453095e+06,178297.403636,166334.919814,137957.41688,138480.041115
1994,1833330274,3903382263,729.402317,2.141063e+06,107863.707449,1005.497417,10903.484830,2.321817e+07,239303.258439,25174185.0,...,158281.1,144207.6,165778.7,373692906.9,416819.741191,1.455827e+06,175599.565000,164217.888737,137719.17196,136534.198025
1995,1833421020,3905539324,716.222826,8.230723e+05,115858.986210,391.496691,4261.259234,8.962164e+06,230092.185989,25174260.0,...,156719.6,143504.4,163879.2,376123345.6,422893.025745,1.458773e+06,173147.669089,162111.491061,137503.74464,134439.192355
1996,1833878583,3908494889,1047.523175,3.059471e+06,154712.682438,1432.391173,15583.628506,3.328688e+07,214400.519046,25174260.0,...,155165.7,142857.6,161982.6,378533735.1,428989.996485,1.461699e+06,170684.895000,160081.431480,137264.29485,132488.959542
1997,1833421020,3909454444,724.854060,1.265302e+06,107265.978615,593.423177,6415.997634,1.368034e+07,213317.821198,25174260.0,...,153618.8,142083.6,160075.2,380937532.8,435020.938177,1.464407e+06,168012.201821,157873.911100,137023.85516,130383.656520
1998,1832505894,3909414004,331.880346,9.047401e+04,49087.123330,42.163275,460.951610,9.890831e+05,207947.838626,25174260.0,...,151979.4,141382.8,158131.2,383337940.8,440967.519397,1.466950e+06,165295.748181,155625.066872,136756.13334,128170.084337
1999,1835251272,3917367774,888.928173,4.316271e+06,131167.678559,2011.065668,21702.546468,4.658080e+07,230696.377261,25174260.0,...,150517.2,140740.8,156325.2,385765184.4,447344.805885,1.470688e+06,163316.847275,153974.271284,136563.04368,126650.500329
2000,1834336146,3917327304,554.329262,1.603397e+06,82057.536044,749.525488,8314.148296,1.778545e+07,206277.942497,25174260.0,...,148936.6,139978.8,154352.4,388165598.2,453300.515276,1.473213e+06,160607.151819,151671.121788,136336.35754,124432.576420
2001,1834336146,3919285944,586.470153,6.059688e+05,86712.640025,281.772503,3066.342094,6.594696e+06,213403.531298,25174260.0,...,147417.4,139309.2,152480.4,390572723.8,459382.537657,1.476058e+06,158067.577272,149586.825382,136130.03926,122457.165197
2002,1835251272,3923246574,2033.626597,7.398765e+06,300748.815137,3473.612509,37866.792921,8.065847e+07,216827.788749,25174260.0,...,146010.0,138632.4,150840.0,393144841.2,466452.343904,1.479259e+06,156084.466364,147867.316424,135876.83592,120849.922720
2003,1834703003,3924004362,2934.778444,8.335747e+06,434573.395828,3893.844088,42267.311941,9.048443e+07,190198.868583,25174183.0,...,144619.0,137897.1,149154.3,395634161.8,473389.531542,1.481958e+06,153786.091365,145940.864459,135574.45275,119052.970222
2004,1834336146,3925161709,2453.709653,2.159105e+06,363175.290477,1011.130594,10972.621961,2.343075e+07,185506.353312,25174260.0,...,143246.2,137259.6,147430.8,398268425.6,480367.815936,1.484781e+06,151537.484093,144041.850465,135340.10242,117317.777823
2005,1834336146,3927120359,3217.208982,2.744260e+06,476409.933293,1286.690231,13940.387351,2.973180e+07,176171.366246,25174260.0,...,141837.4,136530.0,145771.2,400833657.8,487396.695596,1.487702e+06,149378.245001,142207.676704,135183.93886,115594.902648
2006,1834793709,3930081954,2312.234654,6.877481e+06,353277.587405,3210.487133,34726.070489,7.439176e+07,178421.140059,25174260.0,...,140446.7,135856.8,144100.2,403402411.1,494422.742701,1.490693e+06,147265.770000,140391.919515,135051.63779,113955.546199
2007,1835251272,3933044574,2822.268862,7.772135e+06,419761.966228,3617.320506,39170.639440,8.416355e+07,173525.078288,25174260.0,...,139120.8,135206.4,142442.4,405971212.8,501473.702102,1.493748e+06,145189.150910,138635.774302,134824.72668,112319.997509
2008,1834793709,3934000164,2646.588296,1.248751e+07,390691.044425,5829.988672,63128.448476,1.352181e+08,190723.755635,25174260.0,...,137675.9,134418.0,140788.2,408532927.9,508415.273653,1.496471e+06,142884.309319,136702.522066,134349.47171,110551.817193
2009,1834793709,3935959214,2081.935994,7.006926e+06,307849.570318,3281.961071,35427.781392,7.563854e+07,162045.281591,25174260.0,...,136285.1,133922.4,139072.2,411098140.6,515435.595655,1.499285e+06,140730.795909,134846.148593,133812.58823,108838.461417
2010,1834336146,3936913344,2260.282642,1.349014e+06,334610.770027,632.633661,6872.400439,1.465495e+07,152873.300500,25174260.0,...,134991.4,132728.4,137396.4,413659823.4,522383.823163,1.501886e+06,138402.582274,132907.324319,133700.95498,107105.910852
2011,1835251272,3940882974,2970.070628,1.104266e+06,439622.462000,514.841731,5620.141679,1.205553e+07,169264.418192,25174260.0,...,133525.2,132490.8,135769.2,416232300.0,529551.947388,1.505299e+06,136531.920001,131281.744021,133717.90320,105462.766643
2012,1835251272,3942842574,2681.474503,3.712518e+06,396482.175944,1719.987650,18674.315994,4.030758e+07,158290.632835,25174260.0,...,131757.6,131532.0,135030.0,420165756.0,533099.021743,1.504367e+06,133294.390908,128482.628380,132025.96128,103149.192756
2013,1835251272,3944802174,2858.383763,4.922297e+06,422738.546616,2285.774553,24779.285307,5.336016e+07,168233.141808,25174260.0,...,128668.8,130088.4,131064.0,423894960.0,532802.177298,1.499233e+06,127913.558182,123496.190726,126594.25296,100137.838883
2014,1834793709,3945754714,1632.741408,1.783236e+06,238487.969050,824.607489,8990.336294,1.944204e+07,165132.989107,25174260.0,...,129007.1,130934.4,131730.6,428276362.0,541121.470710,1.514811e+06,126121.353410,122554.603221,127290.73475,98152.812334
2015,1835251272,3948721374,2677.944244,7.566757e+06,740695.398270,3783.049025,41615.631049,8.301461e+07,157589.429636,25174260.0,...,126638.4,131965.2,129279.6,432174276.0,547476.547627,1.516216e+06,122273.569091,119097.773184,126348.87888,95527.754131
2016,1834793709,3949672969,2204.577703,8.407834e+06,326512.255014,3946.268572,42665.458268,9.090202e+07,145475.661294,25174260.0,...,125525.9,130692.0,128451.0,434757527.0,554289.158889,1.519630e+06,120004.087955,117097.005810,126124.27751,93721.512212
2017,1829571459,3940134769,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,169248.119698,25174061.0,...,125442.7,128686.5,126618.8,438071312.0,558711.561623,1.522994e+06,117567.752728,114820.568947,124372.94183,91358.385447
2018,1829577989,3942088171,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,192093.781989,25173703.0,...,125159.0,126685.5,126598.1,439806148.0,571587.558249,4.147090e+05,117856.154092,116959.145288,125044.47616,91393.507244